extends layout 
include mixins/searchPokemon.pug

block content 

  +searchPokemon()  
  .individual-container
    h1.individual-h1 <u>#{pokemon.name}</u>
      img(src=pokemon.sprites.front_default)

    .data-container    
      ul 
        each position in pokemon.types
          li.type <u>Type:</u> #{position.type.name} 
        br  
        each position in pokemon.abilities
          li.ability <u>Abilities:</u> #{position.ability.name}  
        br
        each position in pokemon.moves
          if position.move.name.length <= 4
            li.moves <u>Moves:</u> #{position.move.name}
            
        p.individual-p #{pokemon.name} weighs a total of #{pokemon.weight} LBS. and stands #{pokemon.height} Feet tall.