extends layout 
include mixins/searchPokemon.pug

block content 

  +searchPokemon()  

  h1= pokemon.name
    img(src=pokemon.sprites.front_default)
  
  ul 
    each position in pokemon.types
      li= position.type.name
  p #{pokemon.name} weighs a total of #{pokemon.weight} LBS. and stands #{pokemon.height} Feet tall.
     
      