extends layout 
block content 
  img(src='https://vignette.wikia.nocookie.net/nonsensopedia/images/1/17/PoK%C3%A9MoN.jpg/revision/latest?cb=20111109211622')

  form(action=`/users/search/` method='GET')
    label(for='identifier') Please search for any type of pokemon
    input#identifier(type='text' name='identifier' placeholder='pokemon id / name')
    input(type='submit' value='Search')

  h1= pokemon.name
    img(src=pokemon.sprites.front_default)
  
  ul 
    each position in pokemon.types
      li= position.type.name
  p #{pokemon.name} weighs a total of #{pokemon.weight} LBS. and stands #{pokemon.height} Feet tall.
     
      