html 
  head
    link(rel='stylesheet', href='/stylesheets/users.css')
  body  
h1 welcome to 
  img(src='https://vignette.wikia.nocookie.net/nonsensopedia/images/1/17/PoK%C3%A9MoN.jpg/revision/latest?cb=20111109211622')
h3 This pokemon id is  #{id} and its name is #{pokemon}
h4 #{pokemon} is a #{type} type pokemon
img(src=img)

